* {
    margin: 3px;
    padding: 0;
}
.grid {
    max-width: 1000px;
    margin: 0  auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;

.child_1{
    grid-row: 1;
    grid-column: 1;
}
.child_2{
    grid-row: 1;
    grid-column: 2;
}
.child_3{
    grid-row: 1;
    grid-column: 3;
}
.child_4{
    grid-row: 1;
    grid-column: 4;
}
.child_5{
    grid-row: 2;
    grid-column: 1;
}
.child_6{
    grid-row: 2;
    grid-column: 2;
}
.child_7{
    grid-row: 2;
    grid-column: 3;
}
.child_8{
    grid-row: 2;
    grid-column: 4;
}
.child_9{
    grid-row: 3;
    grid-column: 1;
}
.child_10{
    grid-row: 3;
    grid-column: 2;
}
.child_11{
    grid-row: 3;
    grid-column: 3;
}
.child_12{
    grid-row: 3;
    grid-column: 4;
}
}
.images {
        height:100px;
        background: url(https://cs8.pikabu.ru/post_img/2017/11/19/10/1511111097158271951.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
}
.desc {
    max-height: 300px;
    max-width: 300px;
    border: 1px solid black;
    text-align: center;
}
.rename,.rename2,.rename3,.rename4,.rename5,.rename6,.rename7,.rename8,.rename9,.rename10,.rename11,.rename12 {
    display: none;
}
.name {
    cursor: alias;
}
@media only screen and (max-width: 767px) {
    .grid {
        height: 100%;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    .child_1 {
        width: 100%; 
        grid-column: 1;
        grid-row: 1;
    }
    .child_2 {
        width: 100%;;
        grid-column: 1;
        grid-row: 2;
    }
    .child_3 {
        width: 100%;
        grid-column: 1;
        grid-row: 3;
    }
    .child_4 {
        width: 100%;
        grid-column: 1;
        grid-row: 4;
    }
    .child_5 {
        width: 100%;
        grid-column: 1;
        grid-row: 5;
    }
    .child_6 {
        width: 100%;
        grid-column: 1;
        grid-row: 6;

    }
    .child_7 {
        width: 100%;
        grid-column: 1;
        grid-row: 7;
    }
    .child_8 {
        width: 100%;
        grid-column: 1;
        grid-row: 8;
    }
    .child_9 {
        width: 100%;
        grid-column: 1;
        grid-row: 9;
    }
    .child_10 {
        width: 100%;
        grid-column: 1;
        grid-row: 10;
    }
    .child_11 {
        width: 100%;
        grid-column: 1;
        grid-row: 11;
    }
    .child_12 {
        width: 100%;
        grid-column: 1;
        grid-row: 12;
    }
    }
    .child_1 {
        width: 100%;
        grid-column: 1;
        grid-row: 1;
    }
    .child_2 {
        width: 100%;;
        grid-column: 1;
        grid-row: 2;
    }
    .child_3 {
        width: 100%;
        grid-column: 1;
        grid-row: 3;
    }
    .child_4 {
        width: 100%;
        grid-column: 1;
        grid-row: 4;
    }
    .child_5 {
        width: 100%;
        grid-column: 1;
        grid-row: 5;
    }
    .child_6 {
        width: 100%;
        grid-column: 1;
        grid-row: 6;

    }
    .child_7 {
        width: 100%;
        grid-column: 1;
        grid-row: 7;
    }
    .child_8 {
        width: 100%;
        grid-column: 1;
        grid-row: 8;
    }
    .child_9 {
        width: 100%;
        grid-column: 1;
        grid-row: 9;
    }
    .child_10 {
        width: 100%;
        grid-column: 1;
        grid-row: 10;
    }
    .child_11 {
        width: 100%;
        grid-column: 1;
        grid-row: 11;
    }
    .child_12 {
        width: 100%;
        grid-column: 1;
        grid-row: 12;
    }

}
.menu {
    height:auto;
    background-color: lightpink;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-gap: 10px;
    
    .dropdown {
        display: none;
        a {
            display: block;
        }
    }
   .menu__list:hover .dropdown {
        display: block;
   }
}
.dropdown__link1:hover .link1 {
            display: block;
}

.link1 {
    display: none;
    a {
            display: block;
        }
}
.dropdown__link2:hover .link2 {
            display: block;
}

.link2 {
    display: none;
    a {
            display: block;
        }
}
.dropdown__link3:hover .link3 {
            display: block;
}
.link3 {
    display: none;
    a {
            display: block;
        }
}
.menu__btn {
    background-color: lightgreen;
    text-align: center;
}

.grid__btn {
        height: 100%;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.child__1__btn {
        width: 100%; 
        grid-column: 1;
        grid-row: 1;
        .images {
            display: inline;
            width: 50px;
            height: 50px;
            background: url(https://cs8.pikabu.ru/post_img/2017/11/19/10/1511111097158271951.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
}